doctype html
html
  head
    meta(charset='utf-8')
    title Image Magic
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/vendor/jquery.js")
    script(src="/js/source/main.js")
  body
    input#imageURL(type="text", placeholder="URL")
    input#addImage(type="button", value="Add Image")
    #imageHolder
