doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Inception Boxes
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Inception Boxes
    #controlHolder
      input#boxCount(type="text", placeholder="How many boxes?", autofocus)
      button#makeBoxes Inception!
    #boxBox
