doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 0001
  body
    header
      h1 Drill 1
      img(src='http://static.fjcdn.com/pictures/awesome+cat_eaf14b_3078775.jpg')
    footer This amazing website is copyright 2014 by Nathaniel Rodman Webb
