doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 0003
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Drill 3
      img(src='http://1.bp.blogspot.com/---A8e--8jcE/T_ouLmLqdbI/AAAAAAAABTs/dcZSUg-IJa8/s1600/vampire.jpg')
    #controls
      input#color(type='text', placeholder='color')
      input#add-color(type='button', value='add color')
    #colors
      #clearer
