doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 0002
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Drill 2
      img(src='http://s3-ec.buzzfed.com/static/enhanced/web03/2012/9/8/17/anigif_enhanced-buzz-25952-1347141072-1.gif')
      img(src='http://25.media.tumblr.com/c569747fd6117bae6160b0bffa11ffc1/tumblr_mx2ahc8Yey1ruvbs5o1_400.gif')
      img(src='http://31.media.tumblr.com/26fe9ee1bb0b80df81b6d25db2e03904/tumblr_msewzcBwDX1s01qkyo1_500.gif')
    #bacon
      ul
        - for(var i = 0; i<100; i++)
            li= i
